@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --hexagon-pattern: url('/assets/lightmode.svg');
}

.dark {
  --hexagon-pattern: url('/assets/darkmode.svg');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
