@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.light {
  --hexagon-pattern: url("/assets/lightmode.svg");
  --light-text: #FFF;
  --dark-text: #000;
  --primary: #CF96DF;
  --icons: #CF96DF;
  --highlight-text: #FFF;
  --primary-bold: #9D6BAB;
}

.dark {
  --hexagon-pattern: url("/assets/darkmode.svg");
  --light-text: #000;
  --dark-text: #FFF;
  --highlight-text: #FFF;
  --icons: #f3c8ff;
  --primary: #40194d;
  --dark-text: #FFF;
  --primary-bold: #e9e1eb;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
